<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:connection.xml" />


	<bean id="userDao" class="com.training.dao.impl.UserDaoImpl">
		<property name="commonDao" ref="commonDao"/>
	</bean>
	
	<bean id="userService" class="com.training.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="commonService" ref="commonService"/>
	</bean>
	

	<bean id="studentService" class="com.training.common.service.impl.StudentServiceImpl">
		<property name="convert" ref="convert"></property>
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="convert" class="com.training.convert.StudentConvert"></bean>
	<bean id="studentDao" class="com.training.common.dao.impl.StudentDaoImpl">
		<property name="commonDao" ref="commonDao"></property>
	</bean>

</beans>